<%= render 'nav' %>
<h1 align="center">Welcome to <%= @user.username %>'s page </h1>

<div class="row">
    <div class="col-md-4 col-md-offset-4 center">
        <!-- define a new method here that can display the profile image. this will be defined in one of the helpers
             - in this case the 'helpers/application_helper.rb' file. Any methods defined in our erb files can be placed there. 
             - second argument of the method can also take in the size: -->
        <%= gravatar_for(@user, size: 150) %>
    </div> 
</div>

<h4 align="center"><%= @user.username %>'s articles: </h4>

<!-- we want to paginate the users articles, how do we do this: -->
<div class="center">
    <%= will_paginate @user_articles %>
</div>
<!-- for pagination to work then we have to use the same variable for our render method that we defined in the controller for the uers articles.
     the will_paginate tag has to have the context in which the objects we want to be paginated for it to work properly. -->
<%= render 'articles/article', obj: @user_articles %>


